# PlatformIO
SwitchingUnit/.pio/
SwitchingUnit/.vscode/

# ESP-IDF
ControlUnit/build/
ControlUnit/managed_components/
ControlUnit/sdkconfig.old

# Host tests/temp files
SwitchingUnit/test_comms_hlw*
SwitchingUnit/test_comms_hlw_disabled*

# General
.DS_Store
*.swp
